$xs: 600px;
$sm: 960px;
$md: 1264px;
$lg: 1650px;
$xl: 2100px;
$hook: red;

.page-container {
    max-width: 1800px;
    margin: 0 auto;
}

.about-page-container {
    max-width: 1300px;
    margin: 0 auto;
}
@media screen and (max-width: #{$xl}) {
    .page-container {
        max-width: 1200px;
    }
}

@media screen and (max-width: #{$lg}) {
    .page-container, .about-page-container {
        max-width: 65%;
    }
}

@media screen and (max-width: #{$md}) {
    .page-container, .about-page-container {
        max-width: 100%;
        padding: 0 32px;
    }
}
@media screen and (max-width: #{$sm}) {
    .page-container, .about-page-container {
        max-width: 100%;
        padding: 0 18px;
    }
}
@media screen and (max-width: #{$xs}) {
    .page-container, .about-page-container {
        padding: 0 8px 70px;
    }
}